# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# VS Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages

# SQLite Database Files
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db